.model-table {
  margin-top: var(--spacing-md);

  .ant-table-thead > tr > th {
    background: #285187;
    color: #fff;
    font-weight: 600;
    box-shadow: inset 0px 1px 8px 10px #305c99;
  }

  .ant-table-tbody > tr > td {
    padding: 8px;
  }
  // 斑马纹效果
  .ant-table-tbody > tr:nth-child(odd) > td {
    background: #304162;
  }

  .ant-table-tbody > tr:nth-child(even) > td {
    background: #32476e;
  }

  .ant-table-tbody > tr:hover > td {
    background: #2f618e !important;
  }
}
.filter-section {
  margin-bottom: var(--spacing-lg);
}
.filter-inter {
  position: relative;
  .select-inter {
    position: absolute;
    top: 0;
    left: 6px;
    line-height: 32px;
  }
  .ant-select {
    .ant-select-selector {
      padding-left: 42px !important;
    }
  }
}

.ant-select {
  position: relative;
  background: transparent;
  .ant-select-selector {
    background: transparent !important;
  }
}

.ant-btn-default,
.ant-radio-button-wrapper,
.ant-input,
.ant-input-number-input,
.ant-input-affix-wrapper,
.ant-input-number,
.ant-picker {
  background: transparent !important;
}
.data-input-chart {
  display: flex;
  align-items: center;
  justify-content: center;
}
:where(.css-dev-only-do-not-override-vcsy2k).ant-btn-default.ant-btn-background-ghost {
  border-color: #fff;
  color: #fff;
}
.ant-table:not(.ant-table-bordered) .ant-table-tbody > tr > td {
  border-top: none !important;
}
.ant-switch-handle {
  &::before {
    box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 1) !important;
  }
}
.switch-item {
  display: flex;
  align-items: center;
  gap: 8px;

  .switch-label {
    color: #ffffff;
    font-size: 14px;
  }
}
.ant-alert-message{
  color: var(--theme-info);
}